<html>
<head>
    <link rel="stylesheet" href="static/styles_7.css" type="text/css">
</head>
<title></title>
<body>
    <main>
        <h1>Denver Breweries</h1>
        <div id="bannerimage"></div>
        <p>This page is meant to be a comprehensive guide to Denver breweries and 
            a guide to possibly alcoholism. </p>
        <h2>The List</h2>
            <ul>
                <li><a href="/ratio-beerworks">Ratio Beerworks</a></li>
                <li><a href="/denver-beer-co">Denver Beer Co</a></li>
                <li><a href="/great-divide">Great Divide</a></li>
                <li><a href="/cerebal-brewing">Cerebral Brewing</a></li>
            </ul>
    </main>
    <article></article>
</body>
<footer><h4>&copy; Peter Kurjanowicz</h4></footer>
</html>